.movie-header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title-container {
    position: absolute;
    bottom: 77px;
    left: 20px;
    padding: 10px;
    border-radius: 5px;
}

.movie-title {
    color: #fff;
    margin: 0;
}

.movie-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}