.movie-header {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-title-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.movie-title {
    color: #fff;
    font-size: 3rem;
    margin: 0;
}