.movie-section {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background: grey;
}

.card-link {
    color: white;
    text-decoration: none;
}