.movie_card {
    width: 12rem;
    height: 17rem;
    background-color: black;
    box-shadow: rgba(99, 99, 99, 0.1);
    margin: 2rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.movie_card_image {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    border-radius: .3rem
    ;
}

.movie_card_image:hover {
    transform: scale(1.05);
}

.movie_card_info {
    width: 100%;
    padding: 0.1rem;
    background-color: rgba(72, 72, 72, 0.2);
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.movie_card_title {
    font-size: 1rem;
    color: white;
    margin: 0.5rem 0;
}

.movie_card_title:hover {
    color: yellow;
}

.tomato-icon {
    width: 20px;
    height: 20px;
    margin: 0 2px;
}